{% extends 'hospital/homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;background-color: rgba(0, 0, 0, 0.00000000001);">
  <h1 class="display-4" style="text-align:center;">Hello, Doctor</h1>
  <p class="lead">Welcome to IhospitaL.</p>
  <hr class="my-4">

  <p class="lead">
    <a class="btn btn-default btn-lg" href="/doctorsignup" role="button">Apply</a>
    <a class="btn btn-default btn-lg panel-primary" href="/doctorlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
