<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>HMS - Django</title>


  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>

</head>

<body style=" background-image: url('https://img.freepik.com/free-vector/winter-blue-pink-gradient-background-vector_53876-117276.jpg?t=st=1656129822~exp=1656130422~hmac=d72788da8afa6360d738b0d2ed8894ca6cf1f39fcb552f878a69e4142bcebda3&w=826'); background-repeat: no-repeat; background-position: center;background-size: cover; height: 100% ;">
  {% include "hospital/navbar.html" %}
  <br>
  <br>

  <div class="jumbotron" style="margin-top: 0px;
    margin-bottom: 0px;background-color:rgba(0,0,0,0.001) ">
    <h1 class="display-4">Hello {{request.user.first_name}}</h1>
    <p class="lead">Your Account is not approved till now <br><br>Our Team is checking your profile <br><br> Soon your Account will be confirmed !!!</p>
    <hr class="my-4">
    <p>Check Later</p>
    <p class="lead">
      <a class="btn btn-default btn-lg" href="/logout" role="button">Logout For Now</a>
    </p>
  </div>

 
</body>


</html>
