<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>IhospitaL</title>
  <style>
    body,
    html {
      height: 100%;
    }
  </style>

</head>

<body
  style="background-image: url('https://img.freepik.com/free-vector/winter-blue-pink-gradient-background-vector_53876-117276.jpg?t=st=1656129822~exp=1656130422~hmac=d72788da8afa6360d738b0d2ed8894ca6cf1f39fcb552f878a69e4142bcebda3&w=826'); background-repeat: no-repeat; background-position: center;background-size: cover; height: 100% ;">
  {% include "hospital/navbar.html" %}
  {%block content%}

  {%endblock content%}

</body>


</html>